
Tutor01_Git/.godot/editor/editor_layout.cfg
Tutor01_Git/.godot/editor/filesystem_cache8
Tutor01_Git/.godot/editor/filesystem_update4
Tutor01_Git/.godot/editor/project_metadata.cfg
Tutor01_Git/.godot/editor/Scn_3DController.tscn-editstate-45f02c0c65c8c26c8d8c04bc2fb1c130.cfg
Tutor01_Git/.godot/editor/Scn_3DController.tscn-folding-45f02c0c65c8c26c8d8c04bc2fb1c130.cfg
Tutor01_Git/.godot/editor/script_editor_cache.cfg
Tutor01_Git/.godot/global_script_class_cache.cfg
TUTORES/GODOT/ScreanCap.ini
